/AccountPortal/AccountPortal/obj
/AccountPortal/AccountPortal/bin
/AccountPortal/DAO/obj
/AccountPortal/DAO/bin
/AccountPortal/DTO/obj
/AccountPortal/DTO/bin
/AccountPortal/ServiceFactory/obj
/AccountPortal/ServiceFactory/bin
/AccountPortal/ServicesInterface/obj
/AccountPortal/ServicesInterface/bin
/AccountPortal/Common/obj
/AccountPortal/Common/bin
